<div class = "index">
<%=image_tag("index_background.svg")%>
<%= link_to 'Você sabia que os coletores menstruais além de práticos, colaboram com o meio ambiente? Você consegue comprar um clicando aqui!', Category.find_by_name("Coletor")%>
</div>