<div class = "index">
<%=image_tag("index_background.svg")%>
<a href = "#" >Você sabia que os coletores menstruais além de práticos, colaboram com o meio ambiente? Você consegue comprar um clicando aqui!</a>
</div>