@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import 'material_input';
@import "bootstrap";
@import 'colors';
@import 'welcome';
@import 'categories';
@import 'products';
@import 'kart_items';
.btn{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-align: center;
}
.btn-secondary{
    color: #FFFEFE;
    background: #E24763;

}
.btn-primary{
    background:transparent;
    color: #29CBB9;
    border: 1px solid #29CBB9;
}

 html{
     height: 100%;
     overflow: hidden;
 }
 body{
     height: 100%;
     .navbar{
         padding: 0px;
         background-color: #fff;
         border-bottom: 1px solid black;
        .navbar-brand{
            padding: 0px;
            .logo{
            width: 104px;
            height: 65px;
            }
        }
        .mat-div{
            width: 30%;
            .search-icon{
                position: absolute;
                bottom: 10px;
            }
        }
        .nav-icons{
            img{
                margin-right: 8px;
            }
            p{
                &.item-count{
                    display: inline;
                    margin: 0;
                    background: black;
                    color: white;
                    padding: 0px 3px;
                    border-radius: 100px;
                    position: absolute;
                    left: 16px;
                    bottom: -6px;
                }
            }
            a{
                &.icon-link{
                    position: relative;
                }
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 14px;

                color: #000000;
                &:not(.icon-link){
                    margin-right: 73px;
                }
                position: relative;
            }
        }
        /* Style The Dropdown Button */
        .dropbtn {
          background: transparent;
          color: black;
          font-family: Raleway;
          font-size: 14px;
          border: none;
          cursor: pointer;

          img{
            margin-right: 8px;
          }
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            padding: 0px;
            position: relative;
            right: 150px;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ffffff;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;


            .dropdown-button {
                background-color:  transparent;
                border: none;
                color: black;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
        }

        // /* Change color of dropdown links on hover */
        // .dropdown-content a:hover {background-color: #f1f1f1}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            text-decoration: underline;
        }

        .dropdown-content a:hover {
            background-color: #e4e4e4;

            .dropdown-button {
                text-decoration: underline;
                color: #E24763;
            } 
        } 



     }
     .container-fluid{
         height: 100%;
         .row{
            height: 100%;
            > .menu{
                background-color: $azul-claro;
                padding: 0;
                text-align: center;
                ul,li{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
                ul{
                    &.collapsible-content{
                        background-color: $azul-escuro;
                        display: none;
                    }
                    li{
                        border-bottom: 1px solid black;
                        a,h3{
                            width: 100%;
                            text-align: center;
                            vertical-align: middle;
                            font-family: Raleway;
                            line-height: normal;
                            color: #000000;
                            font-style: normal;
                            padding: 0;
                            margin: 0;
                        }
                        h3{
                            height: 64px;
                            line-height: 64px;
                            background-color: $azul-escuro;
                            font-weight: bold;
                            font-size: 24px;
                        }
                        a{
                            height: 32px;
                            line-height: 32px;
                            font-weight: normal;
                            font-size: 14px;
                            text-decoration: none;
                            width: 100%;
                            display: block;
                            .collabsable-icon{
                                float: right;
                                margin-top: 12px;
                                margin-right: 8px;
                            }
                            &.active{
                                text-decoration: underline;
                            }
                        }
                    }
                }
             }
            > .content{
                overflow-y: scroll;
                padding-bottom: 128px;
                background-color: $branco;
                padding: 0;
             }
         }

     }
 }
