// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_wrapper{
    .row{
        margin: 0px;
        margin-top: 64px;
        .product{
            max-width: 223px !important;
            padding: 0;
            margin: 0 auto;
            cursor: pointer;
            .picture{
                display: block;
                border: 1px solid $salmao-escuro;
                text-align: center;
                img{
                    width: 221px;
                    height: 221px;
                    
                }
            }
            .details{
                display: flex;
                justify-content: space-between;
                margin-top: 8px;
                a{
                    text-decoration: none;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    font-size: 12px;

                    color: #000000;

                    &.price{
                        min-width: fit-content;
                        color: $salmao-escuro;
                        margin-left: 32px;
                    }
                }
            }
        }
    }
    &:last-child{
        margin-bottom: 150px;
    }
}