.post{
    .main-post{
        border-bottom: 1px solid black;
        .author-picture-wrapper{
            img{
                max-width: 150px;
                max-height: 150px;
                min-width: 150px;
                min-height: 150px;
                object-fit: cover;
                border-radius: 1000px;
                border: 10px solid #FF7E60;
                margin: 32px 0px 32px 24px;
            }
        }
        .post-text{
            padding-right: 32px;
            h1.font-title{
                font-family: Raleway;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                font-size: 28px;

                color: #000000;
                padding-bottom: 8px;
                border-bottom: 2px solid #FF7E60;
                width: fit-content;
                margin-top: 26px;
            }
            p{
                &.main-font{
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 20px;

                    color: #000000;
                }

                &.description{
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 16px;
                    text-align: justify;
                }

                &.date{
                    font-family: Raleway;
                    font-style: italic;
                    font-weight: 200;
                    line-height: normal;
                    font-size: 18px;

                    color: #AAA;
                }
            }
        }

    }

    .comment{
        border-bottom: 1px solid black;
        .comment-picture-wrapper{
            border-right: 1px solid black;
            img{
                max-width: 130px;
                max-height: 130px;
                min-width: 130px;
                min-height: 130px;
                object-fit: cover;
                border-radius: 1000px;
                border: 10px solid #AAFFCB;
                margin: 32px auto 12px auto;
                display: block;

            }
            .comment-user{
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 14px;
                text-align: center;
            }
        }

        .comment-content{
            p{
                &.commentary-txt{
                    margin-top: 32px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 20px;
                    text-align: justify;
                }
            }
        }
    }

    .new-comment{

        margin: 64px auto 128px auto;
        background: #AAFFCB;
        border-radius: 100px;
        border-collapse: separate; 
        width: 60%;
        .row{
            .col-2{
                .logged-user-picture{
                    max-width: 130px;
                    max-height: 130px;
                    min-width: 130px;
                    min-height: 130px;
                    object-fit: cover;
                    border-radius: 1000px;
                    display: block;
                    float: right;
                }
            }
            .col-9{
                textarea{
                    width: 80%;
                    height: 100%;
                    margin: 0!important;
                }
            }
        }
    }
}