
.navbar_forum{
    border-bottom: 1px solid $salmao-escuro;
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #ffcaca;
  }

  li a {
      font-family: Raleway;
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 17px 44px;
      text-decoration: none;
      align-items: center;
    }


  li a:hover:not(.theme) {
      background-color: $salmao-claro;
      text-decoration: underline

  }

  .theme {
    font-family: Raleway;
    font-weight: bolder;
    font-size: 20px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 44px;
    text-decoration: none;
    background-color: $salmao-escuro;
  }

  .forum_image{
      overflow-y: hidden;
      img{
          
          object-fit: cover;

      }
      a{
          position: absolute;
          background: white;
          border-radius: 30px;
          top: 32px;
          right: 18px;
          width: 475px;
          font-family: Raleway;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 30px;

          color: #000000;
      }
  }



}
