// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index{
    overflow-y: hidden;
    img{
        width: 100%;
    }
    a{
        position: absolute;
        background: white;
        border-radius: 30px;
        top: 32px;
        right: 18px;
        width: 475px;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 30px;

        color: #000000;
    }
}